
footer{
  background-color: black;
  padding-top: 100px;
  padding-bottom: 10px;
  .footer-menu{
    display: block;
    color: white;
    .footer_menu_title{
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-top: 0;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px;
    }
    .Address_footer{
      margin-top: 30px;
    }
    .footer_menu_title_ul{
      padding-left: initial;
      margin-left: 0px;
      li{
        list-style: none;
        a{
          color: #fff;
          font-size: 14px;
          font-weight: 0 !important;
          line-height: 20px;
          font-family: 'Lato', sans-serif;
          text-decoration: none;
        }
      }
    }
  }
  .copyright{
    display: flex;
    color: white;
    padding-top: 20px;
    padding-left: 0px;
    margin-top: 30px;
    border-top: 1px solid white;
    flex-wrap: wrap;
    .copyright-text{
      padding-left: 0px;
    }
    .copyright-menu {
      ul {
        display: flex;
        list-style: none;
        .f{border-right: 1px solid white;}
        li{
          padding-right: 15px;
          margin-right: 15px;
          a{
            color: #fff;
            font-family: 'BebasNeue','Lato', "Times New Roman", serif;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.order_online_fixed{
  position: fixed;
  bottom: 100px;
  right: 24px;
  line-height: 60px;
  z-index: 99;
  background: white;
  border-radius: 40px;
  .svg-order{
    padding-top: 20px;
    width: 80px;
    height: 56px;
    animation: 1s ease-in-out 0s normal none infinite running h-alo-ring-ring;
  }
}
@keyframes h-alo-ring-ring{
  0%{transform:rotate(0deg) scale(1) skew(1deg)}
  10%{transform:rotate(-25deg) scale(1) skew(1deg)}
  20%{transform:rotate(25deg) scale(1) skew(1deg)}
  30%{transform:rotate(-25deg) scale(1) skew(1deg)}
  40%{transform:rotate(25deg) scale(1) skew(1deg)}
  50%{transform:rotate(0deg) scale(1) skew(1deg)}
  100%{transform:rotate(0deg) scale(1) skew(1deg)}
}