.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header{
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  .logo-menu-desktop{
    display: flex;
    .logo-desktop{
      padding-left: 35px;
    }
  }
  .menu-header{
    display:inline-flex;
    padding-left: 9px;
    li{
      list-style: none;
      padding: 9px 10px 9px;
      position: relative;
      &:hover > ul.menu-header-hover {
        background-color: white;
        padding: 10px;
        display: block;
        width:20rem;
        transition: all .5s ease;
      }
      a {
        color: white;
        line-height: 48px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
      }
        &:hover{
          &:after {
            background-color: #EA8025;
            width: 100%;
            height: 3px;
            content:'';
            top:0px;
            left: 0;
            margin: 0 auto;
            right: 0;
            display: block;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, -webkit-transform 0.3s;
          }
        }
    }
  }
  .menu-header-hover{
    display: none;
    margin-top: 3px;
    position: absolute;
    margin-left: 0px !important;
    li{
      width: fit-content;
    }
    li>a{
      color: black;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    }
  }
}

.shop{
  background: #F5F5F5;
  padding: 80px 0 20px;
  .shop-home{
    .shop-home-title{
      float: left;
      margin: 10px 0 20px;
      line-height: 1.4;
      color: #ea8025;
      font-weight: 700;
      position: relative;
      margin-bottom: 30px;
      margin-top: 0;
      font-size: 42px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      &:after{
        content: '';
        height: 4px;
        background:black;
        width: 50%;
        display: block;
      }
    }
  }
  .shop-home-post{
    .thumbnail {
      display: flex;
      color: white;
      background: #EA8025;
      flex-wrap: wrap;
      .image_shop{
        padding-right: 0px;
        padding-left: 0px;
      }
    }
    .page-title{
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 24px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      font-weight: 700;
      color: white;
    }
    .caption-shop{
      padding: 0px 30px;
      margin-top: 113px;
    }
    p{
      font-size: 16px;
      margin-bottom: 0;
      line-height: 24px;
      font-family: 'Lato', sans-serif;
      text-align: justify;
    }
    img{
      max-width: 100%;
    }
  }
  .carousel-address{
    margin-top: 142px;
    margin-bottom: 30px;
    .owl-dots{
      display: none;
    }

  }
}