main{
  margin-top: 60px;
}
img{
  max-width: 100%;
}
body{
  background: #f5f5f5;
}
.image_background{
  background-image: url("http://file.hstatic.net/1000075078/file/img_3828_master.jpg");
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  .banner_top_title{
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
  }
  h1{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
    margin: 0;
  }
}
.workshop_wrap{
  padding: 90px 0 60px;
  .workshop_item{
    background: white;
    flex: 0 0 50%;
    overflow: hidden;
    margin-bottom: 30px;
    min-height: 345px;
    padding: 0 15px;
  }
  svg{
    margin-right: 15px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  .workshop_img{
    background-image:url("http://file.hstatic.net/1000075078/article/photo_2019-04-10_09.33.09_3e457160b5ae41bb8057b925fb6790e5_grande.jpeg");
    height: 300px;
    background-size: cover;
  }
  .workshop_lists{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .workshop_short_date{
    width: 15%;
    float: left;
    text-align: center;
  }
  .workshop_month{
    font-size: 24px;
    color: #EA8025;
    font-weight: 700;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  }
  .workshop_day{
    font-size: 24px;
    color: #000;
    font-weight: 700;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  }
  .workshop_name{
    float: left;
    padding-left: 15px;
    width: 85%;
    margin: 0;
    a{
      font-size: 24px;
      color: #000;
      line-height: 1.4;
      text-decoration: none;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    }
  }
  .workshop_item_info{
    padding: 15px;
  }
  .workshop_going{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    a{
      display: inline-block;
      background: #000;
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      padding: 10px 30px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    }
  }
  .workshop_pass_event_title{
    float: none;
    color: #ea8025;
    display: inline-block;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    &:after{
      content: '';
      height: 4px;
      background: #191919;
      width: 50%;
      display: block;
    }
  }
  .passevent_lists{
    display: flex;
    flex-wrap: wrap;
  }
  .passevent_item{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 30px;
    -webkit-flex: 0 0 calc(50% - 30px);
    flex: 0 0 calc(50% - 30px);
    overflow: hidden;
    min-height: 145px;
    padding-bottom: 20px;
  }
  .passevent_date_wrap{
    float: left;
    width: 94px;
    height: 94px;
    margin-right: 15px;
    background: rgba(0,0,0,0.1);
    text-align: center;
  }
  .passevent_month{
    font-size: 24px;
    font-weight: 700;
    color: #EA8025;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  }
  .passevent_day{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  }
  .passevent_date{
    margin-top: 15px;
  }
  .passevent_info{
    float: left;
    line-height: 1;
    width: calc(100% - 109px);
    h3{
      font-size: 24px;
      font-weight: 700;
      margin-top: 0;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px;
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
}
.workshop_pass_event{
  margin-top: 30px;
}