main{
  margin-top: 60px;
}
.block_brand_story_1{
  background: url(//file.hstatic.net/1000075078/file/instagram_bg.png) no-repeat right bottom;
  padding: 90px 0;
}
.text-center{
  text-align: -webkit-center!important;
}
.section_heading{
  font-size: 40px !important;
  margin-bottom: 35px;
  color: #ea8025;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  &:after{
    content: '';
    height: 4px;
    background: black;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
  }
}
.brand_story_content{
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
}
.block_brand_story_2{
  padding: 100px 0;
  .block_brand_story_2_row{
    flex-wrap: wrap;
    img{
      width: 100% !important;
    }
  }
  .block_brand_story_2_row{
    margin-bottom: 30px;
    display: flex;
  }
}
.title_row_block_brand_story_2{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 15px;
}
p{
  margin-bottom: 0;
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}
.block_brand_story_3{
  background: black;
  padding: 95px 0 40px;
  .section_heading{
    max-width: 420px;
    text-align: justify;
    &:after{
      content: '';
      height: 4px;
      background:white;
      width: 20%;
      margin: 0 auto;
      margin-top: 10px;
      display: block;
    }
  }
  .list_year_item{
    display: flex;
    .year{
      width: 25%;
      font-size: 42px;
      padding-top: 20px !important;
      text-align: center;
      font-weight: 700;
      color: #EA8025;
      margin-top: 0;
      padding-right: 15px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      padding-top: 10px;
    }
    .year_content{
      width: 75%;
      padding-top: 10px;
      text-align: left;
      padding-bottom: 30px;
      border-bottom: 1px solid #fff;
      p{
        color: #fff;
        margin: 0;
        font-size: 16px;
      }
    }
    .year_content_title{
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px;
    }
  }
  .year_content_wrap{
    padding-left: 30px;
    padding-top: 15px;
  }
  .content_wrap_item{
    margin-bottom: 30px;
    p:first-child{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    }
  }
  p{
    color: #fff;
    margin: 0;
    font-size: 16px;
  }
  .end{
    border: none !important;
  }
}
.block_brand_story_4{
  img{
    width: 100%;
  }
  .image_human_row{
    padding: 0px!important;
  }
  .image_human{
    padding-bottom: 30px!important;
  }
}