@media (min-width: 1200px){
.container {
  width: 1116px;
}
}
@media only all and (min-width: 992px) {
  header {
    .logo_menu_mobile {
      display: none;
    }
    .logo-desktop{
      padding-left: 0px !important;
    }
    .menu-header-desktop{
      .menu-header{
        margin-left: 0px !important;
        padding-left: 0px !important;
      }
    }
  }
}
@media only all and(max-width: 992px) {
  .section_heading{
    font-size: 25px !important;
    text-align: center !important;
  }
  .block_brand_story{
    padding: 30px 0;
  }
  header {
    .logo-menu-desktop {
      display: none;
    }
    .menu_mobile{
      .dropdow_menu_mobile {
        position: absolute;
        top: 10px;
        color: #fff;
        width: 40px;
        height: 40px;
        padding: 10px;
        span {
          background: #fff;
          height: 2px;
          width: 100%;
          display: block;
          margin-bottom: 5px;
        }
      }
    }
    .logo_mobile{
      text-align: center;
      img{
        width: 200px;
        padding-top: 5px;
      }
    }
  }
  main{
      .block_brand_story_2{
        .block_brand_story_2_row {
          .content {
            margin-left: 16.66667%;
            margin-top: 30px;
          }
        }
      }
  }
}
@media only all and (max-width: 414px) {
  .block_brand_story_2{
    .block_brand_story_2_row{
      div{
        margin-bottom: 30px;
      }
      .content{
        margin-left:0px !important;
      }
    }
  }
}