
main {
  .menu_sp {
    padding: 80px 0 30px;
    position: relative;
    .list_sp {
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-top: 31px;
      .img_sp{
        padding: 0 10px 30px;
      }
    }
    .menu-sp-home {
      height: 60px;
      line-height: 1.4;
      color: #ea8025;
      padding-right: 10px;
    }

    .menu-sp-home-title {
      float: left;
      color: #ea8025;
      font-weight: 700;
      position: relative;
      margin-bottom: 30px;
      margin-top: 0;
      font-size: 42px;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;

      &:after {
        content: '';
        height: 4px;
        background: #191919;
        width: 50%;
        display: block;
      }
    }

    .menu-sp-home-link {
      &:hover {
        border: 2px solid black;
        background-color: white;

        a {
          color: black;
        }
      }

      margin-top: 7px;
      padding: 0px;
      float: right;
      border: none;
      background-color: black;

      a {
        background: transparent;
        color: #fff;
        padding: 8px;
        font-size: 16px;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
        text-decoration: none;
        display: block;
        font-weight: 700;
        position: relative;
        z-index: 1;
      }
    }
  }

  .thumbnail {
    .caption {
      a {
        font-weight: 700;
        color: #191919;
        margin-left: -10px;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .thongtin_sp {
      a {
        border-radius: 0px;
        font-size: 16px;
        font-weight: 700;
        color: black;
        display: inline-block;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
        background: transparent;
        vertical-align: middle;
        border: 2px solid #EA8025;
        padding: 6px 15px;

      }

      p {
        font-size: 24px;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
        font-weight: 700;
        color: #EA8025;
        margin-bottom: 10px;
      }


      .btn-default {
        background: white;
        color: #EA8025;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:hover {
          color: white;
        }

        &:after {
          content: '';
          position: absolute;
          transition: .3s;
          width: 0;
          left: 50%;
          bottom: 0;
          height: 3px;
          background: #EA8025;
          height: 120%;
          left: -10%;
          -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
          z-index: -1;
        }

        &:hover:after {
          left: -6%;
          width: 110%;
        }
      }
    }
  }
}
.blog_home{
background: url(//file.hstatic.net/1000075078/file/bg_blog_home.png) no-repeat left top, #191919;
padding: 80px 0 20px;
.menu-sp-home{
  padding-right: 32px;
.blog-home-title{
float: left;
margin: 10px 0 20px;
line-height: 1.4;
color: #ea8025;
font-weight: 700;
position: relative;
margin-bottom: 30px;
margin-top: 0;
font-size: 42px;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
&:after{
content: '';
height: 4px;
background: white;
width: 50%;
display: block;
}
}
.blog-home-link{
float: right;
margin-top: 10px;
background: white;
font-size: 18px;
font-weight: 700;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
border: 2px solid #fff;
a{
  font-size: 18px;
  font-weight: 700;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  color: #EA8025;
  display: block;
  padding: 10px 50px;
  border: 0.3px solid #fff;
  background: transparent;
  text-decoration: none;
  position: relative;
  z-index: 1;
  &:hover{
      color: #EA8025;
  }
}
}
}
.cards{
display: flex;
flex-wrap: wrap;
  padding-right: 0px !important;
  padding-left: 0px !important;
img{
width: 100%;
}
.post_cards{
display: flex;
}
.card{
display: flex;
  padding:15px;
.btn-warning{
font-size: 16px;
font-weight: 700;
color: white;
border-radius: 0px;
background: #EA8025;
border: 1px solid #EA8025;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
padding: 8px 25px;
display: inline-block;
&:hover{
  background: white;
  color: #EA8025;
  transition: color 0.5s ease-in;
}
}
.caption-logo{
padding: 25px ;
.page-title{
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
 text-decoration: none;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
}
p{
  font-family: 'Lato', sans-serif;
  margin: 20px 0 20px;
}

}
}
}
}
.intagram{
background: url(//file.hstatic.net/1000075078/file/instagram_bg.png) no-repeat right top, #ffffff;
padding: 80px 0 20px;
.instagram_title{
float: left;
color: #ea8025;
font-weight: 700;
position: relative;
margin-bottom: 30px;
margin-top: 0;
font-size: 42px;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
&:after{
content: '';
height: 4px;
background:black;
width: 50%;
display: block;
}
}
.instagram_content{
max-width: 55%;
font-family: 'Lato', sans-serif;
clear: left;
margin-bottom: 30px;
text-align: justify;
span{
color: #ea8025;
}
}
  .instagram_lists{
    display: flex;
    flex-wrap: wrap;
      .instagram_item{
        margin-bottom: 30px;
        padding-left:0px;
        padding-right: 30px;
        position: relative;
      }
    .instagram_image{
      img{
        width: 100%;
      }
    }
  }
}
.banner {
  margin-top: 60px;
.item {
img {
width: 100%;
position: relative;
}
}
.carousel-inner{
position: relative;
.banner-content-slider{
position: absolute;
margin-top: -500px;
color: white;
animation:example 3s forwards;
.btn{
background: #EA8025;
color: white;
padding: 10px 25px;
border-radius: 0px;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
}
.hrv-title1{
margin-bottom: 55px;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
font-weight: 700;
font-size: 18px;
}
}
@-webkit-keyframes example {
from {opacity: 0;
margin-left: -100px;}
to {opacity: 1;
margin-left: 300px;}
}
@keyframes example {
from {opacity: 0;
margin-left: -100px;}
to {opacity: 1;
margin-left: 300px;}
}
}
.scroll{
position: absolute;
bottom: 10px;
width: 65px;
margin: auto;
display: block;
cursor: pointer;
left: 0;
right: 0;
text-transform: uppercase;
text-align: center;
color: #fff;
font-size: 11px;
a{
text-decoration: none;
}
.text-scroll{
color: #fff;
font-size: 18px;
font-weight: 700;
margin-bottom: 10px;
margin-left: 4px;
text-align: left;
font-family: 'BebasNeue','Lato', "Times New Roman", serif;
display: block;
&:after{
content: '';
width: 100%;
height: 2px;
background: #fff;
display: block;
}
}
.icon-scroll-down{
width: 40px;
height: 40px;
animation: myscroll 2s infinite;
}
@-webkit-keyframes myscroll{
from {
opacity: 0;
margin-top: 0px;
}
to{
opacity: 1;
margin-top: 10px;
}
}
@keyframes myscroll {
from {
opacity: 0;
margin-top: 0px;
}
to {
opacity: 1;
margin-top: 10px;}
}
}
}
html{
scroll-behavior: smooth;
}
.thumbnail{
padding: 0px !important;
border-radius: 0px !important;
border: 0px !important;
}
.btn-warning {
  background: #EA8025;
  color: white !important;
  position: relative;
  z-index: 1;

  &:hover {
    background: white;
    color: #EA8025 !important;
  }
}

.animate_btn {
  &:before {
    position: absolute;
    display: block;
    background: #EA8025;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.animate_btn:hover:before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.button_blog_link{
  &:before {
    position: absolute;
    display: block;
    background: black;
    color: white;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  &:hover{
    &:before{
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: scale(0, 1); transform: scale(0, 1);
    }
  }
}
.row{
  max-width: none !important;
  margin-left: 0px !important;
}