@media only all and  (max-width: 1200px) {
  header{
    .logo-desktop{
      img{
        width: 100%;
        padding-top: 8px;
      }
    }
  }
}
@media only all and  (max-width: 1200px) {
  header{
    .menu-header{
      li{
        padding:9px;
      }
    }
  }
}
@media only all and (min-width: 992px) {
  header {
    .logo_menu_mobile {
      display: none;
    }
    .logo-desktop{
      padding-left: 0px !important;
    }
    .menu-header-desktop{
      .menu-header{
        margin-left: 0px !important;
        padding-left: 0px !important;
        li{
        }
      }
    }
  }
}
@media only all and(max-width: 992px) {
  header {
    .logo-menu-desktop {
      display: none;
    }
  }
  .menu_mobile{
    .dropdow_menu_mobile {
      position: absolute;
      top: 10px;
      color: #fff;
      width: 40px;
      height: 40px;
      padding: 10px;
      span {
        background: #fff;
        height: 2px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  .logo_mobile{
    text-align: center;
    img{
      width: 200px;
      padding-top: 5px;
    }
  }
  .blog_home{
    .row{
      margin-left: 0px;
    }
    .post_cards{
      flex-wrap: wrap-reverse;
    }
    .card{
      padding-right: 0px;
    }
  }
  .shop{
    .row{
      margin-left: 0px;
    }
    .caption-shop{
      margin-top: 0px !important;
      .page-title{
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
  .intagram{
    .row{
      margin-left: 0px;
    }
    .instagram_item{
      padding-right: 0px !important;
    }
  }
}
@media only all and (max-width: 415px) {
  .container{
    padding-right: 0px !important;
    padding-left: 0px !important;
    .row{
      padding-left: 0px !important;
    }
  }
  .menu_sp{
      padding: 30px 0px 30px !important;
  }
  .carousel-inner {
    .hrv-title1-span1{
      font-size: 15px !important;
    }
    .hrv-title1-span2{
      font-size: 10px !important;
    }
    .banner-content-slider {
      margin-top: -170px !important;

      .btn {
        font-size: 10px !important;
      }

      .hrv-title1 {
        margin-bottom: 5px !important;
        font-size: 10px !important;
      }
    }

    @-webkit-keyframes example {
      from {
        opacity: 0;
        margin-left: -5px !important;
      }
      to {
        opacity: 1;
        margin-left: 50px !important;
      }
    }
    @keyframes example {
      from {
        opacity: 0;
        margin-left: -5px !important;
      }
      to {
        opacity: 1;
        margin-left: 50px !important;
      }
    }
  }
    .list_sp{
      padding-right: 0px !important;
        .thumbnail{
          .caption{
            a{
              font-size: 16px;
            }
          }
          .thongtin_sp{
            .btn{
              font-size: 8px;
            }
          }
        }
    }
  .menu-sp-home{
    padding-right: 15px !important;
    .menu-sp-home-link{
      .button_blog_link{
        font-size: 13px;
      }
    }
  }
  .blog_home{
    padding: 30px 0px 20px;
    .blog-home-link{
      .button_blog_link{
        border: none !important;
        font-size: 16px !important;
        padding: 6px 20px !important;
      }
    }
  }
  .shop{
    padding: 30px 0px 20px;
    .thumbnail{
      .caption-shop {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
    .carousel-address{
      margin-top: 50px;
    }
  }
  .intagram{
    padding: 30px 0px 20px;
    .instagram_content{
      max-width: 100%;
    }
    .instagram_item{
      margin-bottom: 15px !important;
    }
  }
  footer{
    .footer_menu_title{
      font-size: 18px !important;
    }
    .footer_menu_title_ul{
      font-size: 0.7rem;
      margin-left: 0px !important;
    }
    .copyright-text{
      font-size: 12px;
    }
  }
  .title-section{
    font-size: 35px !important;
  }
}
@media only all and (max-width: 768px) {
  .banner{
    .hrv-title1-span1{
      font-size: 20px !important;
    }
    .hrv-title1-span2{
      font-size: 15px !important;
    }
    .banner-content-slider {
      margin-top: -295px !important;

      .btn {
        font-size: 15px !important;
      }
      .hrv-title1 {
        margin-bottom: 5px !important;
      }
    }
    @-webkit-keyframes example {
      from {
        opacity: 0;
        margin-left: -5px;
      }
      to {
        opacity: 1;
        margin-left: 50px;
      }
    }
    @keyframes example {
      from {
        opacity: 0;
        margin-left: -5px;
      }
      to {
        opacity: 1;
        margin-left: 95px;
      }
    }
  }
}