body{
  background: #f5f5f5;
}
main{
  margin-top: 60px;
}
.content_menu{
  padding: 100px 0 50px;
}
.classify{
  top: 70px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.sidebar_menu{
  background: white;
  ul{
    padding-left: 0px;
  }
  li{
    list-style: none;
    padding: 12px 30px;
    a{
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      color: #000;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    }
  }
}
.border_product{
  border-left: 3px solid #ea8025;
}
.product{
  padding: 0;
}
.block_menu_item_title{
  color:black;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  width: fit-content;
  font-size: 42px;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  &:after{
    content: '';
    height: 4px;
    background: #ea8025;
    width: 50%;
    display: block;
    margin-top: 10px;
  }
}
.menu_item{
  padding: 0;
  padding-right: 20px;
  padding-bottom: 30px;
  img{
    max-width: 100%;
  }
  .btn-warning {
    background: #EA8025;
    color: white !important;
    position: relative;
    z-index: 1;

    &:hover {
      background: white;
      color: #EA8025 !important;
    }
  }

  .animate_btn {
    &:before {
      position: absolute;
      display: block;
      background: #EA8025;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transform-origin: left center;
      transform-origin: left center;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }

  .animate_btn:hover:before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
}
.btn{
  border-radius: 0px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  display: inline-block;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #EA8025;
  padding: 6px 15px;
}
.title_product{
  a{
    font-weight: 700;
    color: #191919;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.price_product_item{
  font-size: 24px;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  font-weight: 700;
  color: #EA8025;
  margin-bottom: 10px;
}
.menu_item_info{
  padding: 12px 15px;
  background: white;
}
.menu_list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}