.responsive_video {
  width: 100%;
  height: 0;
  padding-bottom: 37.25%;
  position: relative; }
  .responsive_video iframe {
    position: absolute;
    width: 100%;
    height: 100%; }

.farm_to_cafe {
  padding: 90px 0 50px;
  position: relative; }
  .farm_to_cafe .farm_to_cup_title {
    font-size: 40px;
    margin-bottom: 35px;
    color: #ea8025;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 700;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
    .farm_to_cafe .farm_to_cup_title:after {
      content: '';
      height: 4px;
      background: black;
      width: 50%;
      display: block; }

.post_farm_to_cafe {
  text-align: -webkit-center; }

.farm_to_cup_content {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: justify; }
  .farm_to_cup_content img {
    max-width: 100%; }

.slider_farm_to_cup_wrap .columns {
  padding: 25px 0; }

.slider_farm_to_cup_wrap .owl-dots {
  display: none; }

.slider_farm_to_cup_wrap .owl-stage {
  width: 1900% !important; }

.slider_farm_to_cup_wrap .owl-item {
  width: 3% !important;
  margin-right: 30px !important; }

.slider_farm_to_cup_wrap p {
  padding-top: 15px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: justify; }

.slider_farm_to_cup_wrap .owl-nav button {
  background: gray !important;
  border-radius: 50% !important; }

.slider_farm_to_cup_wrap .owl-nav .owl-prev {
  float: left; }
  .slider_farm_to_cup_wrap .owl-nav .owl-prev span {
    padding: 23px;
    font-size: 40px; }

.slider_farm_to_cup_wrap .owl-nav .owl-next {
  float: right; }
  .slider_farm_to_cup_wrap .owl-nav .owl-next span {
    padding: 23px;
    font-size: 40px; }
