footer {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 10px; }
  footer .footer-menu {
    display: block;
    color: white; }
    footer .footer-menu .footer_menu_title {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-top: 0;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px; }
    footer .footer-menu .Address_footer {
      margin-top: 30px; }
    footer .footer-menu .footer_menu_title_ul {
      padding-left: initial;
      margin-left: 0px; }
      footer .footer-menu .footer_menu_title_ul li {
        list-style: none; }
        footer .footer-menu .footer_menu_title_ul li a {
          color: #fff;
          font-size: 14px;
          font-weight: 0 !important;
          line-height: 20px;
          font-family: 'Lato', sans-serif;
          text-decoration: none; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    padding-top: 20px;
    padding-left: 0px;
    margin-top: 30px;
    border-top: 1px solid white;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .copyright .copyright-text {
      padding-left: 0px; }
    footer .copyright .copyright-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      footer .copyright .copyright-menu ul .f {
        border-right: 1px solid white; }
      footer .copyright .copyright-menu ul li {
        padding-right: 15px;
        margin-right: 15px; }
        footer .copyright .copyright-menu ul li a {
          color: #fff;
          font-family: 'BebasNeue','Lato', "Times New Roman", serif;
          font-size: 18px;
          font-weight: 700;
          text-decoration: none; }

.order_online_fixed {
  position: fixed;
  bottom: 100px;
  right: 24px;
  line-height: 60px;
  z-index: 99;
  background: white;
  border-radius: 40px; }
  .order_online_fixed .svg-order {
    padding-top: 20px;
    width: 80px;
    height: 56px;
    -webkit-animation: 1s ease-in-out 0s normal none infinite running h-alo-ring-ring;
    animation: 1s ease-in-out 0s normal none infinite running h-alo-ring-ring; }

@-webkit-keyframes h-alo-ring-ring {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }

@keyframes h-alo-ring-ring {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
