.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%; }
  header .logo-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .logo-menu-desktop .logo-desktop {
      padding-left: 35px; }
  header .menu-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 0px; }
    header .menu-header li {
      list-style: none;
      padding: 9px 10px 9px;
      position: relative; }
      header .menu-header li:hover > ul.menu-header-hover {
        background-color: white;
        padding: 10px;
        display: block;
        width: 20rem;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      header .menu-header li a {
        color: white;
        line-height: 48px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
      header .menu-header li:hover:after {
        background-color: #EA8025;
        width: 100%;
        height: 3px;
        content: '';
        top: 0px;
        left: 0;
        margin: 0 auto;
        right: 0;
        display: block;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, -webkit-transform 0.3s; }
  header .menu-header-hover {
    display: none;
    margin-top: 3px;
    position: absolute;
    margin-left: 0px !important; }
    header .menu-header-hover li {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    header .menu-header-hover li > a {
      color: black;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
