@font-face {
  font-family: 'DIN Condensed';
  font-weight: 700;
  src: url("https://file.hstatic.net/1000075078/file/din_condensed_bold_71e4c8672c15449abec7ff59dd657878.ttf"); }

/*======================= Loto font =======================*/
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url(//file.hstatic.net/1000075078/file/lato-thinitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(//file.hstatic.net/1000075078/file/lato-lightitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(//file.hstatic.net/1000075078/file/lato-italic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 500;
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url(//file.hstatic.net/1000075078/file/lato-mediumitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 600;
  src: local("Lato SemiBold Italic"), local("Lato-SemiBoldItalic"), url(//file.hstatic.net/1000075078/file/lato-semibolditalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(//file.hstatic.net/1000075078/file/lato-bolditalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url(//file.hstatic.net/1000075078/file/lato-blackitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Thin"), local("Lato-Thin"), url(//file.hstatic.net/1000075078/file/lato-thin.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(//file.hstatic.net/1000075078/file/lato-light.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(//file.hstatic.net/1000075078/file/lato-regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: local("Lato Medium"), local("Lato-Medium"), url(//file.hstatic.net/1000075078/file/lato-medium.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato SemiBold"), local("Lato-SemiBold"), url(//file.hstatic.net/1000075078/file/lato-semibold.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(//file.hstatic.net/1000075078/file/lato-bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(//file.hstatic.net/1000075078/file/lato-black.ttf) format("truetype"); }

/*======================= Bebasneue font =======================*/
@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 100;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_thin.ttf) format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 300;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_light.ttf) format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_regular.ttf) format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 700;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_bold1.ttf) format("truetype"); }
