.title{
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-top: 0;
  font-size: 42px;
  color: black;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  &:after{
    content: '';
    height: 4px;
    background: #ea8025;
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}
main{
  margin-top: 60px !important;
}
.banner_store{
  background-image: url("http://file.hstatic.net/1000075078/file/3e0a8783_master.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 215px 0;
  background-size: cover;
  position: relative;
}
.activities_store{
  padding: 90px 0;
}
.activities_title{
  text-align: center;
  margin: 0 auto 50px;
  max-width: 768px;
}