body {
  background: #f5f5f5; }

main {
  margin-top: 60px; }

.content_menu {
  padding: 100px 0 50px; }

.classify {
  top: 70px;
  position: -webkit-sticky;
  position: sticky;
  left: 0; }

.sidebar_menu {
  background: white; }
  .sidebar_menu ul {
    padding-left: 0px; }
  .sidebar_menu li {
    list-style: none;
    padding: 12px 30px; }
    .sidebar_menu li a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      color: #000;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }

.border_product {
  border-left: 3px solid #ea8025; }

.product {
  padding: 0; }

.block_menu_item_title {
  color: black;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 42px;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
  .block_menu_item_title:after {
    content: '';
    height: 4px;
    background: #ea8025;
    width: 50%;
    display: block;
    margin-top: 10px; }

.menu_item {
  padding: 0;
  padding-right: 20px;
  padding-bottom: 30px; }
  .menu_item img {
    max-width: 100%; }
  .menu_item .btn-warning {
    background: #EA8025;
    color: white !important;
    position: relative;
    z-index: 1; }
    .menu_item .btn-warning:hover {
      background: white;
      color: #EA8025 !important; }
  .menu_item .animate_btn:before {
    position: absolute;
    display: block;
    background: #EA8025;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .menu_item .animate_btn:hover:before {
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }

.btn {
  border-radius: 0px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  display: inline-block;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #EA8025;
  padding: 6px 15px; }

.title_product a {
  font-weight: 700;
  color: #191919;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase; }

.price_product_item {
  font-size: 24px;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  font-weight: 700;
  color: #EA8025;
  margin-bottom: 10px; }

.menu_item_info {
  padding: 12px 15px;
  background: white; }

.menu_list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .farm_to_cup_title {
    font-size: 25px !important; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }
