main .menu_sp {
  padding: 80px 0 30px;
  position: relative; }
  main .menu_sp .list_sp {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 31px; }
    main .menu_sp .list_sp .img_sp {
      padding: 0 10px 30px; }
  main .menu_sp .menu-sp-home {
    height: 60px;
    line-height: 1.4;
    color: #ea8025;
    padding-right: 10px; }
  main .menu_sp .menu-sp-home-title {
    float: left;
    color: #ea8025;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
    main .menu_sp .menu-sp-home-title:after {
      content: '';
      height: 4px;
      background: #191919;
      width: 50%;
      display: block; }
  main .menu_sp .menu-sp-home-link {
    margin-top: 7px;
    padding: 0px;
    float: right;
    border: none;
    background-color: black; }
    main .menu_sp .menu-sp-home-link:hover {
      border: 2px solid black;
      background-color: white; }
      main .menu_sp .menu-sp-home-link:hover a {
        color: black; }
    main .menu_sp .menu-sp-home-link a {
      background: transparent;
      color: #fff;
      padding: 8px;
      font-size: 16px;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
      text-decoration: none;
      display: block;
      font-weight: 700;
      position: relative;
      z-index: 1; }

main .thumbnail .caption a {
  font-weight: 700;
  color: #191919;
  margin-left: -10px;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase; }

main .thumbnail .thongtin_sp a {
  border-radius: 0px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  display: inline-block;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #EA8025;
  padding: 6px 15px; }

main .thumbnail .thongtin_sp p {
  font-size: 24px;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  font-weight: 700;
  color: #EA8025;
  margin-bottom: 10px; }

main .thumbnail .thongtin_sp .btn-default {
  background: white;
  color: #EA8025;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  main .thumbnail .thongtin_sp .btn-default:hover {
    color: white; }
  main .thumbnail .thongtin_sp .btn-default:after {
    content: '';
    position: absolute;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #EA8025;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1; }
  main .thumbnail .thongtin_sp .btn-default:hover:after {
    left: -6%;
    width: 110%; }

.blog_home {
  background: url(//file.hstatic.net/1000075078/file/bg_blog_home.png) no-repeat left top, #191919;
  padding: 80px 0 20px; }
  .blog_home .menu-sp-home {
    padding-right: 32px; }
    .blog_home .menu-sp-home .blog-home-title {
      float: left;
      margin: 10px 0 20px;
      line-height: 1.4;
      color: #ea8025;
      font-weight: 700;
      position: relative;
      margin-bottom: 30px;
      margin-top: 0;
      font-size: 42px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
      .blog_home .menu-sp-home .blog-home-title:after {
        content: '';
        height: 4px;
        background: white;
        width: 50%;
        display: block; }
    .blog_home .menu-sp-home .blog-home-link {
      float: right;
      margin-top: 10px;
      background: white;
      font-size: 18px;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      border: 2px solid #fff; }
      .blog_home .menu-sp-home .blog-home-link a {
        font-size: 18px;
        font-weight: 700;
        font-family: 'BebasNeue','Lato', "Times New Roman", serif;
        color: #EA8025;
        display: block;
        padding: 10px 50px;
        border: 0.3px solid #fff;
        background: transparent;
        text-decoration: none;
        position: relative;
        z-index: 1; }
        .blog_home .menu-sp-home .blog-home-link a:hover {
          color: #EA8025; }
  .blog_home .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 0px !important;
    padding-left: 0px !important; }
    .blog_home .cards img {
      width: 100%; }
    .blog_home .cards .post_cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .blog_home .cards .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 15px; }
      .blog_home .cards .card .btn-warning {
        font-size: 16px;
        font-weight: 700;
        color: white;
        border-radius: 0px;
        background: #EA8025;
        border: 1px solid #EA8025;
        font-family: 'BebasNeue','Lato', "Times New Roman", serif;
        padding: 8px 25px;
        display: inline-block; }
        .blog_home .cards .card .btn-warning:hover {
          background: white;
          color: #EA8025;
          -webkit-transition: color 0.5s ease-in;
          -o-transition: color 0.5s ease-in;
          transition: color 0.5s ease-in; }
      .blog_home .cards .card .caption-logo {
        padding: 25px; }
        .blog_home .cards .card .caption-logo .page-title {
          font-size: 24px;
          color: black;
          font-weight: 700;
          margin-bottom: 15px;
          margin-top: 0;
          text-decoration: none;
          font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
        .blog_home .cards .card .caption-logo p {
          font-family: 'Lato', sans-serif;
          margin: 20px 0 20px; }

.intagram {
  background: url(//file.hstatic.net/1000075078/file/instagram_bg.png) no-repeat right top, #ffffff;
  padding: 80px 0 20px; }
  .intagram .instagram_title {
    float: left;
    color: #ea8025;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
    .intagram .instagram_title:after {
      content: '';
      height: 4px;
      background: black;
      width: 50%;
      display: block; }
  .intagram .instagram_content {
    max-width: 55%;
    font-family: 'Lato', sans-serif;
    clear: left;
    margin-bottom: 30px;
    text-align: justify; }
    .intagram .instagram_content span {
      color: #ea8025; }
  .intagram .instagram_lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .intagram .instagram_lists .instagram_item {
      margin-bottom: 30px;
      padding-left: 0px;
      padding-right: 30px;
      position: relative; }
    .intagram .instagram_lists .instagram_image img {
      width: 100%; }

.banner {
  margin-top: 60px; }
  .banner .item img {
    width: 100%;
    position: relative; }
  .banner .carousel-inner {
    position: relative; }
    .banner .carousel-inner .banner-content-slider {
      position: absolute;
      margin-top: -500px;
      color: white;
      -webkit-animation: example 3s forwards;
      animation: example 3s forwards; }
      .banner .carousel-inner .banner-content-slider .btn {
        background: #EA8025;
        color: white;
        padding: 10px 25px;
        border-radius: 0px;
        font-family: 'BebasNeue','Lato', "Times New Roman", serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase; }
      .banner .carousel-inner .banner-content-slider .hrv-title1 {
        margin-bottom: 55px;
        font-family: 'BebasNeue','Lato', "Times New Roman", serif;
        font-weight: 700;
        font-size: 18px; }

@-webkit-keyframes example {
  from {
    opacity: 0;
    margin-left: -100px; }
  to {
    opacity: 1;
    margin-left: 300px; } }

@keyframes example {
  from {
    opacity: 0;
    margin-left: -100px; }
  to {
    opacity: 1;
    margin-left: 300px; } }
  .banner .scroll {
    position: absolute;
    bottom: 10px;
    width: 65px;
    margin: auto;
    display: block;
    cursor: pointer;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 11px; }
    .banner .scroll a {
      text-decoration: none; }
    .banner .scroll .text-scroll {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      margin-left: 4px;
      text-align: left;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      display: block; }
      .banner .scroll .text-scroll:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #fff;
        display: block; }
    .banner .scroll .icon-scroll-down {
      width: 40px;
      height: 40px;
      -webkit-animation: myscroll 2s infinite;
      animation: myscroll 2s infinite; }

@-webkit-keyframes myscroll {
  from {
    opacity: 0;
    margin-top: 0px; }
  to {
    opacity: 1;
    margin-top: 10px; } }

@keyframes myscroll {
  from {
    opacity: 0;
    margin-top: 0px; }
  to {
    opacity: 1;
    margin-top: 10px; } }

html {
  scroll-behavior: smooth; }

.thumbnail {
  padding: 0px !important;
  border-radius: 0px !important;
  border: 0px !important; }

.btn-warning {
  background: #EA8025;
  color: white !important;
  position: relative;
  z-index: 1; }
  .btn-warning:hover {
    background: white;
    color: #EA8025 !important; }

.animate_btn:before {
  position: absolute;
  display: block;
  background: #EA8025;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.animate_btn:hover:before {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.button_blog_link:before {
  position: absolute;
  display: block;
  background: black;
  color: white;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.button_blog_link:hover:before {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.row {
  max-width: none !important;
  margin-left: 0px !important; }

@media only all and (max-width: 1200px) {
  header .logo-desktop img {
    width: 100%;
    padding-top: 8px; } }

@media only all and (max-width: 1200px) {
  header .menu-header li {
    padding: 9px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  header .logo-menu-desktop {
    display: none; }
  .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  .logo_mobile {
    text-align: center; }
    .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  .blog_home .row {
    margin-left: 0px; }
  .blog_home .post_cards {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; }
  .blog_home .card {
    padding-right: 0px; }
  .shop .row {
    margin-left: 0px; }
  .shop .caption-shop {
    margin-top: 0px !important; }
    .shop .caption-shop .page-title {
      margin-bottom: 10px;
      margin-top: 10px; }
  .intagram .row {
    margin-left: 0px; }
  .intagram .instagram_item {
    padding-right: 0px !important; } }

@media only all and (max-width: 415px) {
  .container {
    padding-right: 0px !important;
    padding-left: 0px !important; }
    .container .row {
      padding-left: 0px !important; }
  .menu_sp {
    padding: 30px 0px 30px !important; }
  .carousel-inner .hrv-title1-span1 {
    font-size: 15px !important; }
  .carousel-inner .hrv-title1-span2 {
    font-size: 10px !important; }
  .carousel-inner .banner-content-slider {
    margin-top: -170px !important; }
    .carousel-inner .banner-content-slider .btn {
      font-size: 10px !important; }
    .carousel-inner .banner-content-slider .hrv-title1 {
      margin-bottom: 5px !important;
      font-size: 10px !important; }
  @-webkit-keyframes example {
    from {
      opacity: 0;
      margin-left: -5px !important; }
    to {
      opacity: 1;
      margin-left: 50px !important; } }
  @keyframes example {
    from {
      opacity: 0;
      margin-left: -5px !important; }
    to {
      opacity: 1;
      margin-left: 50px !important; } }
  .list_sp {
    padding-right: 0px !important; }
    .list_sp .thumbnail .caption a {
      font-size: 16px; }
    .list_sp .thumbnail .thongtin_sp .btn {
      font-size: 8px; }
  .menu-sp-home {
    padding-right: 15px !important; }
    .menu-sp-home .menu-sp-home-link .button_blog_link {
      font-size: 13px; }
  .blog_home {
    padding: 30px 0px 20px; }
    .blog_home .blog-home-link .button_blog_link {
      border: none !important;
      font-size: 16px !important;
      padding: 6px 20px !important; }
  .shop {
    padding: 30px 0px 20px; }
    .shop .thumbnail .caption-shop {
      margin-top: 20px;
      margin-bottom: 10px; }
    .shop .carousel-address {
      margin-top: 50px; }
  .intagram {
    padding: 30px 0px 20px; }
    .intagram .instagram_content {
      max-width: 100%; }
    .intagram .instagram_item {
      margin-bottom: 15px !important; }
  footer .footer_menu_title {
    font-size: 18px !important; }
  footer .footer_menu_title_ul {
    font-size: 0.7rem;
    margin-left: 0px !important; }
  footer .copyright-text {
    font-size: 12px; }
  .title-section {
    font-size: 35px !important; } }

@media only all and (max-width: 768px) {
  .banner .hrv-title1-span1 {
    font-size: 20px !important; }
  .banner .hrv-title1-span2 {
    font-size: 15px !important; }
  .banner .banner-content-slider {
    margin-top: -295px !important; }
    .banner .banner-content-slider .btn {
      font-size: 15px !important; }
    .banner .banner-content-slider .hrv-title1 {
      margin-bottom: 5px !important; }
  @-webkit-keyframes example {
    from {
      opacity: 0;
      margin-left: -5px; }
    to {
      opacity: 1;
      margin-left: 50px; } }
  @keyframes example {
    from {
      opacity: 0;
      margin-left: -5px; }
    to {
      opacity: 1;
      margin-left: 95px; } } }
