main {
  margin-top: 60px; }

.page_banner_top {
  position: relative;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  height: 300px; }
  .page_banner_top .banner_top_title {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0; }
    .page_banner_top .banner_top_title h1 {
      font-size: 42px;
      font-weight: 700;
      color: #fff;
      font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
      margin: 0; }

.main_content {
  padding: 30px 0; }
  .main_content .header_page {
    font-weight: 700;
    color: black;
    font-size: 42px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
    .main_content .header_page:after {
      content: '';
      height: 4px;
      background: #ea8025;
      width: 50%;
      display: block; }
  .main_content .blog_list {
    margin: 0 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main_content .blog_list .top_blog_home {
      padding: 0; }
    .main_content .blog_list .article_img img {
      width: 100%; }
  .main_content .caption-logo {
    padding: 25px; }
    .main_content .caption-logo .page-title {
      font-size: 24px;
      color: black;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 0;
      text-decoration: none;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
    .main_content .caption-logo p {
      margin: 20px 0 20px;
      font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      font-size: 15px;
      color: #555555; }
  .main_content .btn {
    position: relative;
    background: #EA8025;
    color: white;
    padding: 10px 25px;
    border-radius: 0px;
    z-index: 1;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; }
    .main_content .btn:hover {
      background: white;
      color: #EA8025;
      -webkit-transition: color 0.5s ease-in;
      -o-transition: color 0.5s ease-in;
      transition: color 0.5s ease-in; }
  .main_content .animate_btn:before {
    position: absolute;
    display: block;
    background: #EA8025;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .main_content .animate_btn:hover:before {
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }

.right_blog {
  border-left: 1px solid #ea8025; }
  .right_blog div {
    padding: 0px; }
  .right_blog .header_page {
    font-size: 40px;
    margin-bottom: 35px; }
  .right_blog .list_img_int {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0px; }
    .right_blog .list_img_int li {
      list-style: none;
      padding: 10px; }
    .right_blog .list_img_int img {
      width: 100%; }
  .right_blog .list_tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0px; }
    .right_blog .list_tags li {
      list-style: none;
      padding: 5px;
      background: white;
      margin-bottom: 10px;
      margin-right: 10px; }
      .right_blog .list_tags li:hover {
        background: #ea8025; }
        .right_blog .list_tags li:hover a {
          color: white; }
      .right_blog .list_tags li a {
        text-decoration: none;
        color: black;
        padding: 5px 15px;
        font-weight: 600;
        font-family: 'Lato', sans-serif; }
  .right_blog .list_img_crop {
    padding-left: 0px; }
    .right_blog .list_img_crop li {
      list-style: none;
      padding: 10px; }
    .right_blog .list_img_crop img {
      width: 100%;
      -webkit-box-shadow: 1px 1px 7px #000;
      box-shadow: 1px 1px 7px #000; }

.pagination {
  text-align: center; }
  .pagination .pagination_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .pagination li {
    list-style: none;
    border: 1px solid gray;
    padding: 5px;
    margin-right: 10px; }
    .pagination li:hover {
      background: #ea8025 !important; }
      .pagination li:hover a {
        color: white !important; }
  .pagination a {
    color: black !important;
    padding: 10px;
    text-decoration: none !important; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .header_page {
    font-size: 25px !important;
    text-align: center !important; }
  .page-title {
    font-size: 18px !important; }
  p {
    font-size: 14px !important; }
  .btn-warning {
    font-size: 14px !important; }
  .block_brand_story {
    padding: 30px 0; }
  .right_blog {
    border-left: none; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }
