main {
  margin-top: 60px; }

img {
  max-width: 100%; }

a {
  list-style: none;
  text-decoration: none !important;
  color: black;
  font-size: 24px;
  font-weight: 700;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif; }

.image_background {
  background-image: url("http://file.hstatic.net/1000075078/file/_fk_1807_master.jpg");
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }
  .image_background .banner_top_title {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0; }
  .image_background h1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
    margin: 0; }

.content_coffebean {
  padding: 90px 0; }
  .content_coffebean .tit {
    padding: 0 !important; }
  .content_coffebean .tab_menu_our_coffee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-bottom: 50px; }
    .content_coffebean .tab_menu_our_coffee li {
      list-style: none;
      font-size: 24px;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
      .content_coffebean .tab_menu_our_coffee li a {
        text-decoration: none; }
    .content_coffebean .tab_menu_our_coffee .activer1 {
      border-right: 3px solid black;
      padding-right: 10px; }
      .content_coffebean .tab_menu_our_coffee .activer1 a {
        color: grey !important; }
    .content_coffebean .tab_menu_our_coffee .active {
      padding-left: 10px; }
      .content_coffebean .tab_menu_our_coffee .active a {
        color: black !important; }
  .content_coffebean .tab_content_menu_coffeebean {
    padding: 0; }
    .content_coffebean .tab_content_menu_coffeebean .post_coffeebean {
      margin-bottom: 30px; }

.btn-warning {
  background: #EA8025;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 25px;
  color: white;
  position: relative;
  z-index: 1; }
  .btn-warning:hover {
    background: white;
    color: #EA8025 !important; }

.animate_btn:before {
  position: absolute;
  display: block;
  background: #EA8025;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.animate_btn:hover:before {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .farm_to_cup_title {
    font-size: 25px !important; }
  header .has-sticky .logo_menu_mobile {
    height: 40px !important; }
  header .has-sticky .dropdow_menu_mobile span {
    background: black !important; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }
