main {
  margin-top: 60px; }

.breadcrumb {
  background: transparent;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 0;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  margin-bottom: 20px;
  font-weight: 700; }

a {
  color: #191919;
  text-decoration: none; }

img {
  max-width: 100%; }

.product_info_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product_info_wrap .info_product {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product_info_wrap .info_product .info_product_title {
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-top: 0;
      display: inline-block;
      font-size: 42px;
      font-weight: 700;
      color: #000;
      margin-bottom: 30px; }
    .product_info_wrap .info_product .product_price {
      display: inline-block;
      color: #EA8025;
      font-weight: 700;
      font-size: 24px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }

.btn_action {
  margin-top: 15px;
  margin-bottom: 15px; }
  .btn_action a {
    display: inline-block;
    background: #EA8025;
    color: #fff;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    width: 60%;
    text-align: center; }

.block_des {
  padding: 100px 0; }

.block_container {
  max-width: 50%;
  margin: 0 auto; }
  .block_container h3 {
    font-size: 42px;
    font-weight: 700;
    color: #000;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    position: relative; }
    .block_container h3:after {
      content: '';
      width: 10%;
      height: 4px;
      background: #EA8025;
      display: block;
      margin: 0 auto; }
  .block_container p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5; }

.product-related {
  padding: 100px 0 50px; }

.related_product_title {
  font-size: 42px;
  font-weight: 700;
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
  .related_product_title:after {
    content: '';
    width: 10%;
    height: 4px;
    background: #EA8025;
    display: block;
    margin: 0 auto; }

.menu_item {
  background: #fff;
  -ms-flex: 0 0 calc(33.333% - 30px);
  -webkit-flex: 0 0 calc(33.333% - 30px);
  -webkit-box-flex: 0;
  flex: 0 0 calc(33.333% - 30px);
  margin: 0 15px 30px;
  min-height: 145px;
  overflow: hidden; }
  .menu_item .menu_item_info {
    background: #fff;
    padding: 12px 15px;
    position: relative;
    z-index: 1; }
    .menu_item .menu_item_info h3 {
      margin-top: 0;
      margin-bottom: 0px;
      font-weight: 700;
      color: #191919;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      font-size: 20px;
      max-height: 55px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      height: 55px; }
      .menu_item .menu_item_info h3 a {
        text-decoration: none;
        color: #191919; }

.price_product_item {
  font-size: 24px;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  font-weight: 700;
  color: #EA8025;
  margin-bottom: 10px; }

.menu_item_action {
  background: #ea8025;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  vertical-align: middle;
  border: 2px solid #EA8025;
  padding: 6px 15px; }

.list_product_related {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.menu_item {
  padding: 0; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .header_page {
    font-size: 25px !important;
    text-align: center !important; }
  .page-title {
    font-size: 18px !important; }
  p {
    font-size: 14px !important; }
  .btn-warning {
    font-size: 14px !important; }
  .block_brand_story {
    padding: 30px 0; }
  .right_blog {
    border-left: none; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }
