img {
  max-width: 100%; }

.title-main {
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }

header {
  background: none !important; }
  header .menu-header a {
    color: white !important; }
  header .logo-desktop {
    padding: 20px; }
    header .logo-desktop a {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      text-decoration: none; }
      header .logo-desktop a img {
        margin-right: 10px; }
    header .logo-desktop span {
      position: relative;
      display: inline-block;
      color: #fff;
      font-size: 12px;
      vertical-align: middle;
      padding: 5px 15px;
      background-color: #ea8000;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      font-family: Roboto; }
  header .btn {
    background-color: #ea8000; }
  header .menu-right {
    margin: auto; }

.banner {
  position: relative;
  clear: both;
  min-height: 58.5rem; }
  .banner .img_banner {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%; }
  .banner img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    width: 100%; }
  .banner .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(36deg, #f0a64c 0, #25292d 100%);
    background-image: -o-linear-gradient(36deg, #f0a64c 0, #25292d 100%);
    background-image: -webkit-linear-gradient(54deg, #f0a64c 0, #25292d 100%);
    background-image: -o-linear-gradient(54deg, #f0a64c 0, #25292d 100%);
    background-image: linear-gradient(36deg, #f0a64c 0, #25292d 100%);
    top: 0px;
    left: 0px;
    opacity: .4;
    z-index: 2; }
  .banner .hero-text {
    color: #fff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 180px 0px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 3;
    min-height: 31.5rem; }
  .banner .headline {
    line-height: 48px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }
  .banner .title {
    line-height: 48px;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }
  .banner .cta {
    color: #fff;
    font-weight: 600;
    background-color: #ea8000;
    text-shadow: none;
    border-radius: 3px;
    padding: 15px 40px;
    margin-top: 10px;
    line-height: 48px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }

.has-sticky {
  background: white; }
  .has-sticky .menu-header {
    position: absolute; }
    .has-sticky .menu-header a {
      color: black !important; }

.content_recruitment {
  padding: 120px 0px; }
  .content_recruitment p {
    color: #555;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px; }
  .content_recruitment .head-sec {
    max-width: 768px;
    margin: 0px auto;
    margin-bottom: 20px; }
  .content_recruitment .sec-text {
    color: #555;
    font-size: 16px;
    font-weight: 300;
    max-width: 768px;
    margin: 0px auto;
    line-height: 26px; }
  .content_recruitment .benefit {
    border-top: 1px dotted #eee;
    padding-top: 60px;
    margin-top: 60px; }
    .content_recruitment .benefit .sec-text {
      width: 100%;
      max-width: 100%; }
    .content_recruitment .benefit .item {
      padding: 15px; }
    .content_recruitment .benefit .image {
      margin-bottom: 40px; }
    .content_recruitment .benefit img {
      height: 80px; }
  .content_recruitment .title {
    line-height: 48px;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
  .content_recruitment p {
    text-align: justify; }
  .content_recruitment .sec-image {
    margin-top: 40px; }

.hero-banner {
  min-height: 100%;
  position: relative;
  clear: both;
  min-height: 40.5rem; }
  .hero-banner .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%; }
  .hero-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;'; }
  .hero-banner .container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0px auto;
    padding: 0; }
    .hero-banner .container .hero-text {
      max-width: 600px;
      padding: 100px 0px;
      text-shadow: none;
      color: #555;
      min-height: 100%; }
    .hero-banner .container .title {
      font-size: 20px;
      color: #333;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
    .hero-banner .container .say {
      color: #555;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px; }
      .hero-banner .container .say:before {
        content: "\e8e8";
        margin-right: 5px;
        font-family: "ap";
        display: inline-block;
        opacity: 0.6;
        color: rgba(51, 51, 51, 0.5);
        font-style: normal; }
      .hero-banner .container .say:after {
        content: "\e8e8";
        margin-left: 5px;
        font-family: "ap";
        display: inline-block;
        opacity: 0.6;
        color: rgba(51, 51, 51, 0.5);
        font-style: normal; }

.sec {
  padding: 120px 0px; }
  .sec .head-sec {
    text-align: center;
    margin-bottom: 40px;
    max-width: 768px;
    margin: 0px auto; }
  .sec p {
    color: #555;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px; }
  .sec .list-jobs {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1); }
    .sec .list-jobs .title-main {
      font-size: 24px; }
  .sec .item-job {
    padding: 10px 15px;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    display: table;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .sec .item-job:hover {
      background: rgba(51, 51, 51, 0.05); }
  .sec .name-job {
    width: 60%;
    display: table-cell;
    vertical-align: middle; }
    .sec .name-job .title {
      line-height: 18px;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
      .sec .name-job .title a {
        color: black;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle; }
  .sec .desc {
    padding: 0px 20px;
    text-align: right; }
    .sec .desc .date {
      display: inline-block;
      font-size: 13px; }
      .sec .desc .date .icon-clock6 {
        margin-left: 5px;
        font-family: 'ap' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
    .sec .desc .info {
      font-size: 13px; }
      .sec .desc .info a {
        color: black;
        text-decoration: none; }
  .sec .cta {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }
    .sec .cta a {
      padding: 10px 20px;
      background-color: #EA8000;
      color: #fff;
      white-space: nowrap;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 13px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      font-family: Roboto; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .farm_to_cup_title {
    font-size: 25px !important; }
  header .has-sticky .logo_menu_mobile {
    height: 40px !important; }
  header .has-sticky .dropdow_menu_mobile span {
    background: black !important; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }
