.title {
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-top: 0;
  font-size: 42px;
  color: black;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .title:after {
    content: '';
    height: 4px;
    background: #ea8025;
    width: 50%;
    display: block;
    margin: 0 auto; }

main {
  margin-top: 60px !important; }

.banner_store {
  background-image: url("http://file.hstatic.net/1000075078/file/3e0a8783_master.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 215px 0;
  background-size: cover;
  position: relative; }

.activities_store {
  padding: 90px 0; }

.activities_title {
  text-align: center;
  margin: 0 auto 50px;
  max-width: 768px; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .farm_to_cup_title {
    font-size: 25px !important; }
  header .has-sticky .logo_menu_mobile {
    height: 40px !important; }
  header .has-sticky .dropdow_menu_mobile span {
    background: black !important; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }
