main {
  margin-top: 60px; }

.block_brand_story_1 {
  background: url(//file.hstatic.net/1000075078/file/instagram_bg.png) no-repeat right bottom;
  padding: 90px 0; }

.text-center {
  text-align: -webkit-center !important; }

.section_heading {
  font-size: 40px !important;
  margin-bottom: 35px;
  color: #ea8025;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .section_heading:after {
    content: '';
    height: 4px;
    background: black;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    display: block; }

.brand_story_content {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Lato', sans-serif; }

.block_brand_story_2 {
  padding: 100px 0; }
  .block_brand_story_2 .block_brand_story_2_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .block_brand_story_2 .block_brand_story_2_row img {
      width: 100% !important; }
  .block_brand_story_2 .block_brand_story_2_row {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.title_row_block_brand_story_2 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 15px; }

p {
  margin-bottom: 0;
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
  text-align: justify; }

.block_brand_story_3 {
  background: black;
  padding: 95px 0 40px; }
  .block_brand_story_3 .section_heading {
    max-width: 420px;
    text-align: justify; }
    .block_brand_story_3 .section_heading:after {
      content: '';
      height: 4px;
      background: white;
      width: 20%;
      margin: 0 auto;
      margin-top: 10px;
      display: block; }
  .block_brand_story_3 .list_year_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .block_brand_story_3 .list_year_item .year {
      width: 25%;
      font-size: 42px;
      padding-top: 20px !important;
      text-align: center;
      font-weight: 700;
      color: #EA8025;
      margin-top: 0;
      padding-right: 15px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      padding-top: 10px; }
    .block_brand_story_3 .list_year_item .year_content {
      width: 75%;
      padding-top: 10px;
      text-align: left;
      padding-bottom: 30px;
      border-bottom: 1px solid #fff; }
      .block_brand_story_3 .list_year_item .year_content p {
        color: #fff;
        margin: 0;
        font-size: 16px; }
    .block_brand_story_3 .list_year_item .year_content_title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px; }
  .block_brand_story_3 .year_content_wrap {
    padding-left: 30px;
    padding-top: 15px; }
  .block_brand_story_3 .content_wrap_item {
    margin-bottom: 30px; }
    .block_brand_story_3 .content_wrap_item p:first-child {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .block_brand_story_3 p {
    color: #fff;
    margin: 0;
    font-size: 16px; }
  .block_brand_story_3 .end {
    border: none !important; }

.block_brand_story_4 img {
  width: 100%; }

.block_brand_story_4 .image_human_row {
  padding: 0px !important; }

.block_brand_story_4 .image_human {
  padding-bottom: 30px !important; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .section_heading {
    font-size: 25px !important;
    text-align: center !important; }
  .block_brand_story {
    padding: 30px 0; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }

@media only all and (max-width: 414px) {
  .block_brand_story_2 .block_brand_story_2_row div {
    margin-bottom: 30px; }
  .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 0px !important; } }
