main {
  margin-top: 60px; }

img {
  max-width: 100%; }

body {
  background: #f5f5f5; }

.image_background {
  background-image: url("http://file.hstatic.net/1000075078/file/img_3828_master.jpg");
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }
  .image_background .banner_top_title {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0; }
  .image_background h1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
    margin: 0; }

.workshop_wrap {
  padding: 90px 0 60px; }
  .workshop_wrap .workshop_item {
    background: white;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    overflow: hidden;
    margin-bottom: 30px;
    min-height: 345px;
    padding: 0 15px; }
  .workshop_wrap svg {
    margin-right: 15px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle; }
  .workshop_wrap .workshop_img {
    background-image: url("http://file.hstatic.net/1000075078/article/photo_2019-04-10_09.33.09_3e457160b5ae41bb8057b925fb6790e5_grande.jpeg");
    height: 300px;
    background-size: cover; }
  .workshop_wrap .workshop_lists {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .workshop_wrap .workshop_short_date {
    width: 15%;
    float: left;
    text-align: center; }
  .workshop_wrap .workshop_month {
    font-size: 24px;
    color: #EA8025;
    font-weight: 700;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .workshop_wrap .workshop_day {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .workshop_wrap .workshop_name {
    float: left;
    padding-left: 15px;
    width: 85%;
    margin: 0; }
    .workshop_wrap .workshop_name a {
      font-size: 24px;
      color: #000;
      line-height: 1.4;
      text-decoration: none;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .workshop_wrap .workshop_item_info {
    padding: 15px; }
  .workshop_wrap .workshop_going {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right; }
    .workshop_wrap .workshop_going a {
      display: inline-block;
      background: #000;
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      padding: 10px 30px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .workshop_wrap .workshop_pass_event_title {
    float: none;
    color: #ea8025;
    display: inline-block;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
    .workshop_wrap .workshop_pass_event_title:after {
      content: '';
      height: 4px;
      background: #191919;
      width: 50%;
      display: block; }
  .workshop_wrap .passevent_lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .workshop_wrap .passevent_item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    -webkit-flex: 0 0 calc(50% - 30px);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 30px);
    flex: 0 0 calc(50% - 30px);
    overflow: hidden;
    min-height: 145px;
    padding-bottom: 20px; }
  .workshop_wrap .passevent_date_wrap {
    float: left;
    width: 94px;
    height: 94px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center; }
  .workshop_wrap .passevent_month {
    font-size: 24px;
    font-weight: 700;
    color: #EA8025;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .workshop_wrap .passevent_day {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif; }
  .workshop_wrap .passevent_date {
    margin-top: 15px; }
  .workshop_wrap .passevent_info {
    float: left;
    line-height: 1;
    width: calc(100% - 109px); }
    .workshop_wrap .passevent_info h3 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 0;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px; }
      .workshop_wrap .passevent_info h3 a {
        color: black;
        text-decoration: none; }

.workshop_pass_event {
  margin-top: 30px; }

@media (min-width: 1200px) {
  .container {
    width: 1116px; } }

@media only all and (min-width: 992px) {
  header .logo_menu_mobile {
    display: none; }
  header .logo-desktop {
    padding-left: 0px !important; }
  header .menu-header-desktop .menu-header {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media only all and (max-width: 992px) {
  .farm_to_cup_title {
    font-size: 25px !important; }
  header .has-sticky .logo_menu_mobile {
    height: 40px !important; }
  header .has-sticky .dropdow_menu_mobile span {
    background: black !important; }
  header .logo-menu-desktop {
    display: none; }
  header .menu_mobile .dropdow_menu_mobile {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px; }
    header .menu_mobile .dropdow_menu_mobile span {
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 5px; }
  header .logo_mobile {
    text-align: center; }
    header .logo_mobile img {
      width: 200px;
      padding-top: 5px; }
  main .block_brand_story_2 .block_brand_story_2_row .content {
    margin-left: 16.66667%;
    margin-top: 30px; } }

@media only all and (max-width: 767px) {
  .passevent_item {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 calc(100% - 30px) !important;
    flex: 0 0 calc(100% - 30px) !important; }
  .workshop_item {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important; }
  h1 {
    font-size: 32px !important; }
  h2 {
    font-size: 25px !important; }
  .workshop_pass_event {
    padding: 0 15px !important; }
  p {
    line-height: 1.5 !important; } }
