  .responsive_video{
      width: 100%;
      height: 0;
      padding-bottom: 37.25%;
      position: relative;
    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
.farm_to_cafe{
  padding: 90px 0 50px;
  position: relative;
  .farm_to_cup_title{
    font-size: 40px;
    margin-bottom: 35px;
    color:#ea8025;
    width: fit-content;
    font-weight: 700;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    &:after{
      content: '';
      height: 4px;
      background: black;
      width: 50%;
      display: block;
    }
  }
}
.post_farm_to_cafe{
  text-align: -webkit-center;
}
.farm_to_cup_content{
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: justify;
  img{
    max-width: 100%;
  }
}
.slider_farm_to_cup_wrap{
  .columns{
    padding: 25px 0;
  }
  .owl-dots{
    display: none;
  }
  .owl-stage{
    width: 1900% !important;
  }
  .owl-item{
    width: 3% !important;
    margin-right: 30px !important;
  }
  p{
    padding-top: 15px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .owl-nav{
    button{
      background: gray !important;
      border-radius: 50% !important;
    }
    .owl-prev{
      float: left;
      span{
        padding: 23px;
        font-size: 40px;
      }
    }
    .owl-next{
      float: right;
      span{
        padding: 23px;
        font-size: 40px;
      }
    }
  }
}