main{
  margin-top: 60px;
}
.breadcrumb{
  background: transparent;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 0;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  margin-bottom: 20px;
  font-weight: 700;
}
a{
  color: #191919;
  text-decoration: none;
}
img{
  max-width: 100%;
}
.product_info_wrap{
  display: flex;
  .info_product{
    align-items: center;
    display: flex;
    .info_product_title{
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-top: 0;
      display: inline-block;
      font-size: 42px;
      font-weight: 700;
      color: #000;
      margin-bottom: 30px;
    }
      .product_price{
      display: inline-block;
      color: #EA8025;
      font-weight: 700;
      font-size: 24px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    }
  }
}
.btn_action{
  margin-top: 15px;
  margin-bottom: 15px;
  a{
    display: inline-block;
    background: #EA8025;
    color: #fff;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    width: 60%;
    text-align: center;
  }
}
.block_des{
  padding: 100px 0;
}
.block_container{
  max-width: 50%;
  margin: 0 auto;
  h3{
    font-size: 42px;
    font-weight: 700;
    color: #000;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    position: relative;
    &:after{
      content: '';
      width: 10%;
      height: 4px;
      background: #EA8025;
      display: block;
      margin: 0 auto;
    }
  }
  p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
  }
}
.product-related{
  padding: 100px 0 50px;
}
.related_product_title{
  font-size: 42px;
  font-weight: 700;
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  &:after{
    content: '';
    width: 10%;
    height: 4px;
    background: #EA8025;
    display: block;
    margin: 0 auto;
  }
}
.menu_item{
  background: #fff;
  -ms-flex: 0 0 calc(33.333% - 30px);
  -webkit-flex: 0 0 calc(33.333% - 30px);
  flex: 0 0 calc(33.333% - 30px);
  margin: 0 15px 30px;
  min-height: 145px;
  overflow: hidden;
  .menu_item_info{
    background: #fff;
    padding: 12px 15px;
    position: relative;
    z-index: 1;
    h3{
      margin-top: 0;
      margin-bottom: 0px;
      font-weight: 700;
      color: #191919;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      font-size: 20px;
      max-height: 55px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      height: 55px;
      a{
        text-decoration: none;
        color: #191919;
      }
    }
  }
}
.price_product_item{
  font-size: 24px;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  font-weight: 700;
  color: #EA8025;
  margin-bottom: 10px;
}
.menu_item_action{
  background: #ea8025;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  vertical-align: middle;
  border: 2px solid #EA8025;
  padding: 6px 15px;
}
.list_product_related{
  display: flex;
  flex-wrap: wrap;
}
.menu_item{
  padding: 0;
}
