@font-face {
  font-family: 'DIN Condensed';
  font-weight: 700;
  src: url("https://file.hstatic.net/1000075078/file/din_condensed_bold_71e4c8672c15449abec7ff59dd657878.ttf"); }

/*======================= Loto font =======================*/
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url(//file.hstatic.net/1000075078/file/lato-thinitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(//file.hstatic.net/1000075078/file/lato-lightitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(//file.hstatic.net/1000075078/file/lato-italic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 500;
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url(//file.hstatic.net/1000075078/file/lato-mediumitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 600;
  src: local("Lato SemiBold Italic"), local("Lato-SemiBoldItalic"), url(//file.hstatic.net/1000075078/file/lato-semibolditalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(//file.hstatic.net/1000075078/file/lato-bolditalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url(//file.hstatic.net/1000075078/file/lato-blackitalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Thin"), local("Lato-Thin"), url(//file.hstatic.net/1000075078/file/lato-thin.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(//file.hstatic.net/1000075078/file/lato-light.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(//file.hstatic.net/1000075078/file/lato-regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: local("Lato Medium"), local("Lato-Medium"), url(//file.hstatic.net/1000075078/file/lato-medium.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato SemiBold"), local("Lato-SemiBold"), url(//file.hstatic.net/1000075078/file/lato-semibold.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(//file.hstatic.net/1000075078/file/lato-bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(//file.hstatic.net/1000075078/file/lato-black.ttf) format("truetype"); }

/*======================= Bebasneue font =======================*/
@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 100;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_thin.ttf) format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 300;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_light.ttf) format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_regular.ttf) format("truetype"); }

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 700;
  src: url(https://file.hstatic.net/1000075078/file/svn-bebas_neue_bold1.ttf) format("truetype"); }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

body {
  background: #f5f5f5 !important; }

header {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%; }
  header .logo-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .logo-menu-desktop .logo-desktop {
      padding-left: 35px; }
  header .menu-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 0px; }
    header .menu-header li {
      list-style: none;
      padding: 9px 10px 9px;
      position: relative; }
      header .menu-header li:hover > ul.menu-header-hover {
        background-color: white;
        padding: 10px;
        display: block;
        width: 20rem;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      header .menu-header li a {
        color: white;
        line-height: 48px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }
      header .menu-header li:hover:after {
        background-color: #EA8025;
        width: 100%;
        height: 3px;
        content: '';
        top: 0px;
        left: 0;
        margin: 0 auto;
        right: 0;
        display: block;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, -webkit-transform 0.3s; }
  header .menu-header-hover {
    display: none;
    margin-top: 3px;
    position: absolute;
    margin-left: 0px !important; }
    header .menu-header-hover li {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    header .menu-header-hover li > a {
      color: black;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif; }

footer {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 10px; }
  footer .footer-menu {
    display: block;
    color: white; }
    footer .footer-menu .footer_menu_title {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-top: 0;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      margin-bottom: 10px; }
    footer .footer-menu .Address_footer {
      margin-top: 30px; }
    footer .footer-menu .footer_menu_title_ul {
      padding-left: initial;
      margin-left: 0px; }
      footer .footer-menu .footer_menu_title_ul li {
        list-style: none; }
        footer .footer-menu .footer_menu_title_ul li a {
          color: #fff;
          font-size: 14px;
          font-weight: 0 !important;
          line-height: 20px;
          font-family: 'Lato', sans-serif;
          text-decoration: none; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    padding-top: 20px;
    padding-left: 0px;
    margin-top: 30px;
    border-top: 1px solid white;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .copyright .copyright-text {
      padding-left: 0px; }
    footer .copyright .copyright-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      footer .copyright .copyright-menu ul .f {
        border-right: 1px solid white; }
      footer .copyright .copyright-menu ul li {
        padding-right: 15px;
        margin-right: 15px; }
        footer .copyright .copyright-menu ul li a {
          color: #fff;
          font-family: 'BebasNeue','Lato', "Times New Roman", serif;
          font-size: 18px;
          font-weight: 700;
          text-decoration: none; }

.order_online_fixed {
  position: fixed;
  bottom: 100px;
  right: 24px;
  line-height: 60px;
  z-index: 99;
  background: white;
  border-radius: 40px; }
  .order_online_fixed .svg-order {
    padding-top: 20px;
    width: 80px;
    height: 56px;
    -webkit-animation: 1s ease-in-out 0s normal none infinite running h-alo-ring-ring;
    animation: 1s ease-in-out 0s normal none infinite running h-alo-ring-ring; }

@-webkit-keyframes h-alo-ring-ring {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }

@keyframes h-alo-ring-ring {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
