body{
  background: #f5f5f5;
}
main{
  margin-top: 60px !important;
}
img{
  max-width: 100%;
}
.banner_slice_membership{
  .slider0{
    background-image: url('http://file.hstatic.net/1000075078/file/bannera_1920x768_tvkc-02_4cd4b00878e94519b64554459366bb1b_master.jpg') ;
    position: relative;
    height: calc(100vh - 61px);
    overflow: hidden;
    background-position: center center;
    background-size: cover;
  }
}
.menu_member{
  background: #ea8025;
  ul{
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;
    li{
      list-style: none;
      a{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 0;
        display: block;
        list-style: none;
        color: black;
        text-decoration: none;
        font-weight: 500;
      }
    }
    }
  }
.aboutus_rewards_new{
  padding: 40px 0;
}
.aboutus_rewards_new_title{
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-top: 0;
  font-size: 42px;
  color: black;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  &:after{
    content: '';
    height: 4px;
    background: #ea8025;
    width: 50%;
    display: block;
    width: 30%;
    margin: 0 auto;
  }
}
.aboutus_rewards_new_content{
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
  line-height: 24px;
}
.video_membership{
  text-align: center;
  padding-bottom: 60px !important;
}
.abouutus_rewards_new_item_title{
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  font-family: la;
  line-height: 1.2;
  margin-bottom: 15px;
  height: 44px;
}
.abouutus_rewards_new_item_des{
  font-size: 17px;
  margin: 0;
  font-family: lat;
}
.display_flex{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.btn{
  display: inline-block;
  padding: 12px 40px;
  background: #EA8025;
  color: #fff;
  font-size: 16px;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
  font-weight: 700;
  border-radius: 0;
}
.feru{
  text-align: center !important;
}
.rank_usr{
  padding-bottom: 60px;
}
.rewards_new_rank{
  padding: 100px 0;
  background: #fff;
}
.flex_wrap{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  .flex-auto{
    list-style: none;
    border-bottom: 12px solid #f0b879;
    padding: 20px 10px 12px 10px;
    cursor: pointer;
    flex: auto;
    -webkit-flex: auto;
    a{
      display: grid;
      text-decoration: none;
      font-weight: 700;
      position: relative;
      margin-top: 0;
      font-size: 16px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      img{
        max-width: 40%;
      }
    }
  }
}
.rewards_new_header_tab_item_title{
  color: black;
  &:hover{
   color: #ea8025;
  }
}
.rewards_new_header_tab_item_point{
  color: grey;
}
.rewards_new_tab_body{
  display: flex;
  flex-wrap: wrap;
}
.tichdiem{
  text-align: center;
}
.rewards_new_tab_body_item{
  text-align: center;
  padding-bottom: 30px;
  h3{
    font-weight: 700;
    font-size: 16px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    color: black;
  }
  p{
    font-size: 17px;
    margin: 0;
    font-family: lat;
  }
}
.btn-default {
  background: white;
  color: #EA8025;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:hover {
    color: white;
  }

  &:after {
    content: '';
    position: absolute;
    transition: .3s;
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #EA8025;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
  }

  &:hover:after {
    left: -6%;
    width: 110%;
  }
}
.rewards_new_points{
  padding: 50px 0;
}
.rewards_new_promotion{
  background: black;
  color: white;
  padding: 50px 0;
  .aboutus_rewards_new_title{
    color: white;
  }
}
.howto_rewards{
  .img_dangkithanhvien{
    padding: 0;
    text-align: center;
    img{
      height: 70vh;
    }
  }
  .lists_howto_rewards{
    padding: 0;
    span{
      margin-bottom: 15px;
      font-size: 16px;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      font-weight: 700;
      color: black;
    }
    .howto_rewards_download{
      display: flex;
      .howto_rewards_logo{
        padding-right: 10px;
      }
    }
    .number_rewards {
      padding: 20px;
      a {
        text-decoration: none;
        color: white;
        background: black;
        padding: 15px;
        border-radius: 55px;
        font-size: 20px;
        font-weight: 700;
        &:hover{
          background: #ea8025;
        }
      }
    }
    .list_howto{
      display: flex;
      padding: 0;
      padding-bottom: 15px;
    }
  }
}
.tichdiem{
  padding-bottom: 30px;
}
.question{
  padding: 100px 0;
}
.panel-heading{
  .panel-title{
    position: relative;
    font-size: 24px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    font-weight: 700;
    display: block;
    a{
      text-decoration: none;
      &:hover{
        color: #ea8025;
      }
    }
  }
  .hidden_show{
    float: right;
    h1{
      margin-top: 0px;
    }
  }
}
.tichdiem_content{
  border-top: 1px solid;
  padding-bottom: 30px;
}
.udai{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  .content_udai{
    margin: auto;
    p{
      font-family: lat;
      line-height: 1.5;
    }
  }
  .img_udai{
    padding: 0;
  }
}
.hotline-fixright {
  position: fixed;
  z-index: 10;
  top: 30%;
  right: 0;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transform: rotate(-90deg) translateX(-30%);
  -moz-transform: rotate(-90deg) translateX(-30%);
  transform: rotate(-90deg) translateX(-30%);
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  transform-origin: bottom right;
  .tel{
    display: block;
    color: #fff;
    padding: 8px 10px;
    background: #ea8025;
  }
  svg{
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    margin-right: 4px;
  }
}
.slider_carosel{
  text-align: center;
  p{
    color: black;
    height: 70px;
  }
  .btn-default{
    color: #ea8025 !important;
    border: 1px solid #ea8025 !important;
    &:hover{
      color: white!important;
    }
  }
  .item{
    padding: 0;
    .img_sp{
      padding: 0;
      .thumbnail{
        margin-bottom: 30px;
        padding: 0 !important;
        border-radius: 0;
      }
      h3{
        color: #000;
        font-size: 20px;
        margin-bottom: 15px;
        font-family: 'BebasNeue','Lato', "Times New Roman", serif;
        font-weight: 700;
        height: 56px;
        text-decoration: none;
      }
    }
  }
  .owl-item{
    width: 342px!important;
    margin-right: 30px !important;
  }
  .owl-stage{
    transform: translate3d(-1488px, 0px, 0px)!important;
    transition: all 0.25s ease 0s!important;
    width: 8000px!important;
  }
  .thongtin_sp{
    padding: 25px;
  }
}
iframe{
  max-width: 100%;
}