main{
  margin-top: 60px;
}
.page_banner_top{
  position: relative;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  height: 300px;
  .banner_top_title{
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
    h1{
      font-size: 42px;
      font-weight: 700;
      color: #fff;
      font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
      margin: 0;
    }
  }
}
.main_content{
  padding: 30px 0;
  .header_page{
    font-weight: 700;
    color: black;
    font-size: 42px;
    width: fit-content;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    &:after{
      content: '';
      height: 4px;
      background:#ea8025;
      width: 50%;
      display: block;
    }
  }
  .blog_list{
    margin: 0 15px 30px;
    display: flex;
    flex-wrap: wrap;
    .top_blog_home{
      padding: 0;
    }
    .article_img {
      img {
        width: 100%;
      }
    }
  }
  .caption-logo{
    padding: 25px;
    .page-title{
      font-size: 24px;
      color: black;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 0;
      text-decoration: none;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    }
    p{
      margin: 20px 0 20px;
      font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      font-size: 15px;
      color: #555555;
    }
  }
  .btn{
    position: relative;
    background: #EA8025;
    color: white;
    padding: 10px 25px;
    border-radius: 0px;
    z-index: 1;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    &:hover{
      background: white;
      color: #EA8025;
      transition: color 0.5s ease-in;
    }
  }
  .animate_btn {
    &:before {
      position: absolute;
      display: block;
      background: #EA8025;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transform-origin: left center;
      transform-origin: left center;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
  .animate_btn:hover:before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
}
.right_blog{
  border-left: 1px solid #ea8025;
  div{
    padding: 0px;
  }
  .header_page{
    font-size: 40px;
    margin-bottom: 35px;
  }
  .list_img_int{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    li{
      list-style: none;
      padding: 10px;
    }
    img{
      width: 100%;
    }
  }
  .list_tags{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    li{
      list-style: none;
      padding: 5px;
      background: white;
      margin-bottom: 10px;
      margin-right: 10px;
      &:hover{
        background: #ea8025;
       a{
         color: white;
       }
      }
      a{
        text-decoration: none;
        color: black;
        padding: 5px 15px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
      }
    }
  }
  .list_img_crop{
    padding-left: 0px;
    li{
      list-style: none;
      padding: 10px;
    }
      img{
        width: 100%;
        box-shadow: 1px 1px 7px #000;
      }
  }
}
.pagination{
  text-align: center;
  .pagination_row{
    display: flex;
  }
  li{
    list-style: none;
    border: 1px solid gray;
    padding: 5px;
    margin-right: 10px;
    &:hover{
      background: #ea8025 !important;
      a{
        color: white !important;
      }
    }
  }
  a{
    color: black !important;
    padding: 10px;
    text-decoration: none!important;
  }
}