img{
  max-width: 100%;
}
.title-main{
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
}
header{
  background: none !important;
  .menu-header{
    a{
      color:white!important;
    }
  }
  .logo-desktop{
    padding: 20px;
    a{
      display: flex !important;
      text-decoration: none;
      img{
        margin-right: 10px;
      }
    }
    span{
      position: relative;
      display: inline-block;
      color: #fff;
      font-size: 12px;
      vertical-align: middle;
      padding: 5px 15px;
      background-color: #ea8000;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      font-family: Roboto;
    }
  }
  .btn{
    background-color: #ea8000;
  }
  .menu-right{
    margin: auto;
  }
}
.banner{
  position: relative;
  clear: both;
  min-height:58.5rem;
  .img_banner{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  img{
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    width: 100%;
  }
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(36deg,#f0a64c 0,#25292d 100%);
    background-image: -o-linear-gradient(36deg,#f0a64c 0,#25292d 100%);
    background-image: linear-gradient(36deg,#f0a64c 0,#25292d 100%);
    top: 0px;
    left: 0px;
    opacity: .4;
    z-index: 2;
  }
  .hero-text{
    color: #fff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 180px 0px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 3;
    min-height: 31.5rem;
  }
  .headline{
    line-height: 48px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .title{
    line-height: 48px;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .cta{
    color: #fff;
    font-weight: 600;
    background-color: #ea8000;
    text-shadow: none;
    border-radius: 3px;
    padding: 15px 40px;
    margin-top: 10px;
    line-height: 48px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  }
}
.has-sticky{
  background: white;
  .menu-header{
    position: absolute;
    a{
      color: black !important;
    }
  }
}
.content_recruitment{
  padding: 120px 0px;
  p{
    color: #555;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  .head-sec{
    max-width: 768px;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  .sec-text{
    color: #555;
    font-size: 16px;
    font-weight: 300;
    max-width: 768px;
    margin: 0px auto;
    line-height: 26px;
  }
  .benefit{
    border-top: 1px dotted #eee;
    padding-top: 60px;
    margin-top: 60px;
    .sec-text{
      width: 100%;
      max-width: 100%;
    }
    .item{
      padding: 15px;
    }
    .image{
      margin-bottom: 40px;
    }
    img{
      height: 80px;
    }
  }
  .title{
    line-height: 48px;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
  }
  p{
    text-align: justify;
  }
  .sec-image{
    margin-top: 40px;
  }
}
.hero-banner{
  min-height: 100%;
  position: relative;
  clear: both;
  min-height: 40.5rem;
  .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
  .container{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0px auto;
    padding: 0;
    .hero-text{
      max-width: 600px;
      padding: 100px 0px;
      text-shadow: none;
      color: #555;
      min-height: 100%;
    }
    .title{
      font-size: 20px;
      color: #333;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    }
    .say{
      color: #555;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      &:before{
        content: "\e8e8";
        margin-right: 5px;
        font-family: "ap";
        display: inline-block;
        opacity: 0.6;
        color: rgba(51,51,51,.5);
        font-style: normal;
      }
      &:after{
        content: "\e8e8";
        margin-left: 5px;
        font-family: "ap";
        display: inline-block;
        opacity: 0.6;
        color: rgba(51,51,51,.5);
        font-style: normal;
      }
    }
  }
}
.sec{
  padding: 120px 0px;
  .head-sec{
    text-align: center;
    margin-bottom: 40px;
    max-width: 768px;
    margin: 0px auto;
  }
  p{
    color: #555;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
  .list-jobs{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    .title-main{
      font-size: 24px;
    }
  }
  .item-job{
    padding: 10px 15px;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    display: table;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    &:hover{
      background: rgba(51,51,51,0.05);
    }
  }
  .name-job{
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    .title{
      line-height: 18px;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
      a{
        color: black;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .desc{
    padding: 0px 20px;
    text-align: right;
    .date{
      display: inline-block;
      font-size: 13px;
      .icon-clock6{
        margin-left: 5px;
        font-family: 'ap' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }
    .info{
      font-size: 13px;
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
  .cta{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    a{
      padding: 10px 20px;
      background-color: #EA8000;
      color: #fff;
      white-space: nowrap;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 13px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      font-family: Roboto;
    }
  }
}