main{
  margin-top: 60px;
}
img{
  max-width: 100%;
}
a{
  list-style: none;
  text-decoration: none !important;
  color: black;
  font-size: 24px;
  font-weight: 700;
  font-family: 'BebasNeue','Lato', "Times New Roman", serif;
}
.image_background{
  background-image: url("http://file.hstatic.net/1000075078/file/_fk_1807_master.jpg");
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  .banner_top_title{
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
  }
  h1{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
    margin: 0;
  }
}
.content_coffebean{
  padding: 90px 0;
  .tit{
    padding: 0!important;
  }
  .tab_menu_our_coffee{
    display: flex;
    padding: 0;
    margin-bottom: 50px;
    li{
      list-style: none;
      font-size: 24px;
      font-weight: 700;
      font-family: 'BebasNeue','Lato', "Times New Roman", serif;
      a{
        text-decoration: none;
      }
    }
    .activer1{
      border-right: 3px solid black;
      padding-right: 10px;
      a{
        color: grey!important;
      }
    }
    .active{
      padding-left: 10px;
      a{
        color: black!important;
      }
    }
  }
  .tab_content_menu_coffeebean{
    padding: 0;
    .post_coffeebean{
      margin-bottom: 30px;
    }
  }
  .tch_signature_centent{

  }
}
.btn-warning {
  background: #EA8025;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 25px;
  color: white;
  position: relative;
  z-index: 1;

  &:hover {
    background: white;
    color: #EA8025 !important;
  }
}
.animate_btn {
  &:before {
    position: absolute;
    display: block;
    background: #EA8025;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.animate_btn:hover:before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}